@font-face { font-family: 'Cloud Soft light'; src: url('./assets/fonts/Cloud\ Soft-Light_0658c0c2bc967a13e7044a96e62871fd.otf'); }
@font-face { font-family: 'Cloud Soft Bold'; src: url('./assets/fonts/CloudSoft-Bold\ 700.otf'); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* light theme */
:root{
    --text-color:#1C1E53;
    --text-hover-color:#5E3BEE;
    --bg-color:#fbfff8;
    --color-mask: #fff;
    --color-destack: #0bb16e;
    --text-hover-color-secund: #370bb1;
}

.dark-theme{
    --text-color:#fff;
    --text-hover-color:#5E3BEE;
    --bg-color:#070322;
    --color-mask: #07001d;
    --color-destack: #0ac479;
}

body{
    background-color: var(--bg-color);
    height: 100vh;
}


/* Header */
header{
    font-family: 'Cloud Soft bold', "Inter", sans-serif;
    background-color:var(--color-mask) ;
    padding: 10px 50px;
}

header nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 0 50px;
}

nav img{
    width: 135px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.1em;
}

header ul li a:hover{
    color: var(--text-hover-color);
}

nav #contato{
    color: var(--color-destack);
    text-decoration: none;
    border: 2px solid var(--color-destack);
    border-radius: 5px;
    padding: 8px 32px;

    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
}

nav #contato:hover{
    background: var(--color-destack);
    color: var(--color-mask);
    border-radius: 10px;
    transition: 0.5s;
}

/*Container*/

main.container {
  width: 100%;
  max-width: 1920px;
  min-width: 360px;
  margin: 40px auto 0px;
  padding: 0px 50px;
}

/* Home */

section.home{
    width: 100%;
    min-height: 600px ;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

    gap: 20px;
    padding: 50px 20px;
    margin: 0 auto; 
}

div.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 55%;
}

div.inicio h1{
    font-family: 'Cloud Soft bold', "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color);
    line-height:1;
    
}   

div.inicio h1 span{
    font-family: 'Cloud Soft bold', "Inter", sans-serif;
    font-weight: 600;
    color: var(--color-destack);
}
div.inicio p{
    font-family: 'Cloud Soft light', "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}
div.inicio p span{
    font-family: 'Cloud Soft bold', "Inter", sans-serif;
    font-weight: 600;
    color: var(--text-hover-color);
}

div.inicio a{
    text-decoration: none;
    color:var(--color-mask);
    background-color: var(--text-hover-color);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 5px;
    
    font-family: 'Cloud Soft bold', "Inter", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background 0.9s;
}

div.inicio a:hover{
    background-color: var(--text-hover-color-secund);
    transition: background 0.9s;
    box-shadow: 0px 0px 15px rgba(109, 46, 255, 0.562);
}

div.imagem-central{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
div.imagem-central img{
    max-width: 800px;
    min-width: 350px;
 
}

section.nextDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    padding: 50px 20px;
    margin: 0px auto;
    
    width: 100%;
    min-height: 450px;
    border-radius: 20px;
    background-color: rgba(184, 142, 255, 0.062);
}
div.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    margin: 0px auto;
    width: 100%;
}

div.experienceCard ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px 50px;
    gap: 80px;
}

div.experienceCard ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    padding: 10px 0px;
    text-align: center;     
}

li.card1 img & li.card2 img{
    width: 100px;
    margin-bottom: 10px;
}

.card1{
    border: 1.5px solid var(--text-hover-color);
}
.card2{
    background-color: #5f3bee1c;
}

div.experienceText {
    background: #ffffff25;
    margin: 30px auto 0px;
    border-radius: 10px;
    padding: 10px 30px;
}
div.experienceText ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 180px;
    list-style: none;
    width: 100%;
    text-align: center;    
}

.light-text{
    font-family: 'Cloud Soft light', "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;   
    color: var(--text-color);
    text-align: center;     
}

.bold-text{
    font-family: 'Cloud Soft bold', "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}


/*Habilidades*/

section.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 50px 20px;
    margin: 50px auto;

    width: 100%;
    min-height: 550px;
    border-radius: 30px;
}

section.habilidades ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;
    list-style: none;
    padding: 40px 50px;
}

section.habilidades ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    padding: 20px 0px;

    font-family: 'Cloud Soft bold', "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 800;   
    color: var(--text-color);
    text-align: center;     
    transition: background 0.5s;
}
section.habilidades ul li img{
    width: 100px;
    height: 100px;
}

section.habilidades h2{
    font-family: 'Cloud Soft bold', "Inter", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1;
}

section.habilidades > p{
    font-family: 'Cloud Soft bold', "Inter", sans-serif;
    font-weight: 600;
    color: var(--color-destack);
}

/* Sobre mim */

section.sobre-mim{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 40px;
    padding: 50px 20px 0px;
    margin: 50px auto;

    width: 100%;
    min-height: 450px;
    border-radius: 30px;
    
    background-color: rgba(184, 142, 255, 0.062);
}

div.conteudo-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-start;
    width: 50%;
}
div.conteudo-sobre p{
    font-family: 'Cloud Soft light', "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.5;
    text-align: justify;
}
div.conteudo-sobre h2{
    font-family: 'Cloud Soft bold', "Inter", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-destack);
    margin-bottom: 20px;
    line-height: 1;
}

.img-sobre{
    width: 50%;
    max-width: 450px;
    min-width: 250px
}

.desk{
    color: var(--text-hover-color);
}

section.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 450px;
}

.contato .form{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.form input{
    padding: 15px 50px ;
}

footer{
    width: 100%;
    text-align: center;

    background: var(--text-hover-color);
    padding: 10px 0px;
}

footer p {
    font-family: 'Cloud Soft light';
    color: #fbfff8da;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.05em;
}